<div class="container">
    <h1>Edit your post</h1>
    <div class="card-deck">
        <div class="card align-items-center" style="width: 20rem;">
            <div class="card-block">
                <h2>Content: <%= @post.content %></h2><br>
                <%= render "form" %>
                <a class="nav-item nav-link btn btn-primary"<%= link_to "Back", post_path(@post) %>
            </div>
        </div>
    </div>
</div>