<h1>User with the most followers</h1><br>
<h2>Name: <%= @user_most_follows.name %></h2>
<h4>Followers: <%= @user_most_follows.followers.count %></h4>
<a href= <%= "/users/#{@user.id}" %>><h3><%= "Back to Account" %></h3></a>
<br>